<div class="container text-center">
  <h2><strong>Roof & Bed offers you the best flats!</strong></h2>
  <p>Choose from the list below or search for the places you like</p>
</div>
<%= render 'components/card-flat' %>
