<div class="container">  
<hr>
<div>
<%= render 'components/cardsshow' %>
</div>
<hr>
<%= render 'components/infoshow' %>
<%= render 'components/map' %>
<hr>
<%= render 'components/buttons' %>
</div>
