<div class="container">  
  <hr>
  <div>
    <%= render 'components/carousel' %>
  </div>
  <hr>
  <%= render 'components/infoshow' %>
  <hr>
  <%= render 'components/map' %>
  <hr>
  <%= render 'components/buttons' %>
</div>
