.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('banner.jpg');
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
}

.banner h1 span {
  background-color: black;
  padding: 0 2px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

@media(max-width: 700px) {
  .banner {
    padding: 170px 0;
  }

  .banner h1 {
    font-size: 32px;
  }
}
