.buttons {
    font-size: 30px;
}
.link_buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 15px;
}
.fa-backward {
    color: #00D9FF;

    &:hover {
        color: rgb(70, 70, 248);
      }
}
.fa-user-edit {
    color: white;

    &:hover {
        color: rgb(70, 70, 248);
      }
}
.fa-trash-alt {
    color: white;

    &:hover {
        color: rgb(70, 70, 248);
      }
}