.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #00DBFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #00B0FF;
  color: white;
}

@media(max-width: 768px) {
  .btn-flat {
    height: 3rem;
    width: 94%;
    margin-top: 80px;
  }
}
