.footer {
  background: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(1, 182, 255);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: rgb(1, 95, 133);
}

@media(max-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}
