.card-category {
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
.details {
  display: flex;
  justify-content: space-around; 
}  
.info {
  background-color: rgb(228, 228, 228);
  padding: 25px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description {
  background-color: rgb(228, 228, 228);
  padding: 25px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  border-radius: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  padding: 50px;
  padding-right: 100px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
