.navbar-lewagon {
  justify-content: space-between;
  background: rgb(240, 240, 240);
  margin-bottom: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.logo-container h1 {
  font-weight: bolder;
  margin-top: 8px;
  margin-left: 8px;
}
